# Mac files
.DS_Store

# Eclipse project files
/.project
/.pydevproject
/.buildpath
/.settings

# VSCode files
/.vscode
*.code-workspace

# Terraform files
reactor_state.tf
*.terraform.lock.hcl
*.tfstate*

# Extra files
/tmp/
*.log
